.chatCompany-content {
  width: 100%;
  padding: 2% 0%;
}

.chatCompany-header {
  font-size: 28px;
  font-weight: 500;
  padding: 2% 2%;
}

.chatCompany-chats {
  display: flex;
  flex-direction: column;
}
