.addPricing-mainDiv {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.addPricing-mainContent {
  width: 35%;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.addPricing-mainContent label {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3%;
}

.addPricing-mainContent input {
  width: 100%;
  font-size: 17px;
  padding: 4%;
  margin-top: 3%;
  outline: none;
  border-radius: 8px;
  border: 1px solid #006DAB;
}

.addPrincing-buttonDiv {
  width: 25%;
}