.dashboardCustomer-divHigher {
  /* border: 1px solid black; */
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}

.dashboardCustomer-divHigher label {
  font-size: 25px;
  padding-left: 3%;
  font-weight: 600;
}

.dashboardCustomer-divHigher select {
  padding: 1%;
  border-radius: 8px;
  border: none;
}

.dashboardCustomer-divMiddle {
  width: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content: end;
}



.dashboardCustomer-divBottom {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-direction: row;
  /* padding: 1%; */
  margin-top: 2%;
}

.dashboardCustomer-cardsDiv {
  width: 73%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

.dashboardCustomer-filterDiv {
  width: 25%;
  height: 85vh;
  border: 1px solid #afafaf;
  position: fixed;
  right: 1%;
  margin-top: 2%;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}

.dashboardCustomer-filterTitle {
  font-size: 23px;
  text-align: center;
  font-weight: 600;
  padding: 4% 0% 4% 0%;
  border-bottom: 1px solid black;
}

.dashboardCustomer-searchByName {
  display: flex;
  width: 25%;
  background-color: white;
  border-radius: 8px;
  position: fixed;
  right: 1%;
  top: 7%;
  align-items: center;

}

.dashboardCustomer-searchByName input {
  padding: 1%;
  width: 90%;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
}

.dashboardCustomer-searchByName div {
  margin-right: 4%;
  padding: 1%;
}

.dashboardCustomer-dropdownChildren-mainDiv {
  display: flex;
  flex-direction: column;
}

.dashboardCustomer-dropdownChildren-mainDiv label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 4%;
  justify-content: center;
  text-align: center;
}

.dashboardCustomer-dropdownChildren-mainDiv label {
  margin-left: 10%;
  font-weight: 400;
}