.chatCustomer-mainDiv {
  width: 84vw;
  display: flex;
  flex-direction: row;
  background-color: #ebebeb;
  position: absolute;
  right: 0%;
}

.chatCustomer-sideBar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.chatCustomer-content {
  /* border: 1px solid black; */
  width: 100%;
  padding: 2% 0%;
}

.chatCustomer-header {
  font-size: 28px;
  font-weight: 500;
  padding: 2% 2%;
  /* border: 1px solid black; */
}

.chatCustomer-chats {
  display: flex;
  flex-direction: column;
}