.chatCustomer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 0% 0%;
}

.chatCustomer-header {
  font-size: 28px;
  font-weight: 500;
  padding: 2% 2%;
}

.chatCustomer-chats {
  width: 100%;
  display: flex;
  flex-direction: column;
}