.customCheckbox-container {
    min-width: 0%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px !important;
    font-weight: 400 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: start !important;
}

.customCheckbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.customCheckbox-checkmark {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.customCheckbox-container:hover input~.customCheckbox-checkmark {
    background-color: #ccc;
}

.customCheckbox-container input:checked~.customCheckbox-checkmark {
    background-color: #2196F3;
}

.customCheckbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customCheckbox-container input:checked~.customCheckbox-checkmark:after {
    display: block;
}

.customCheckbox-container .customCheckbox-checkmark:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}