.customerParties-content {
  width: 100%;
  padding: 2% 0%;
  display: flex;
  flex-direction: column;
}

.customerParties-header {
  font-size: 28px;
  font-weight: 500;
  padding: 2% 2%;
}

.customerParties-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customerParties-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}