.buffetProfile-mainDiv {
  display: flex;
  background-color: #ebebeb;
}

.buffetProfile-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.buffetProfile-topContent {
  width: 96%;
  display: flex;
  padding: 1%;
  flex-direction: row;
  justify-content: space-between;
}

.buffetProfile-buffetsInfos {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buffetProfile-nameLocalDiv {
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.buffetProfile-nameLocalDiv h1 {
  font-size: 20px;
  margin-bottom: 2px;
}

.buffetProfile-nameLocalDiv label {
  font-size: 18px;
  margin-bottom: 2px;
}

.buffetProfile-budgetFavDiv {
  display: flex;
  flex-direction: row;
  height: 5vh;
  cursor: pointer;
  justify-content: space-around;
  margin-top: 1%;
}

.buffetProfile-budgetDiv {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 8vw;
  border: 1px solid #0fa958;
  border-radius: 8px;
  color: #0fa958;
}

.buffetProfile-budgetDiv label {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.buffetProfile-favoriteDiv {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 8vw;
  border: 1px solid #f21e1e;
  border-radius: 8px;
  color: #f21e1e;
  margin-left: 10px;
}

.buffetProfile-favoriteDiv label {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.buffetProfile-favoritedDiv {
  background-color: #f21e1e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 8vw;
  border: 1px solid #f21e1e;
  border-radius: 8px;
  color: white;
  margin-left: 10px;
}

.buffetProfile-favoritedDiv label {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.buffetProfile-addressDiv {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1% 2%;
}

.buffetProfile-addressDiv h1 {
  font-size: 20px;
  margin-bottom: 3px;
}

.buffetProfile-feedbaackDiv {
  width: 90%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px 35px 0px;
}

.buffetProfile-feedbaackDiv h1 {
  font-size: 22px;
  padding: 2vh;
  display: flex;
  justify-content: center;
}

.buffetProfile-divCardsFeedback {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Modal children css */

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 13%;
}

.modal-content h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 1%;
}

.modal-content h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 1%;
}

.modal-leftContent {
  width: 49%;
  max-height: 90%;
  padding-left: 2%;
}

.modal-dateDiv {
  display: flex;
  align-items: center;
  margin: 5% 1%;
}

.modal-dateDiv input {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 6px;
}

.modal-noteDiv {
  width: 100%;
  margin: 4% 0px;
}

.modal-noteDiv textarea {
  resize: none;
  border: none;
  border-radius: 6px;
  width: 60%;
  height: 20vh;
  padding: 1%;
  margin-top: 4px;
}

.modal-rightContent {
  width: 49%;
  max-height: 90%;
}