.login-mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.login-leftSide {
  width: 49%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
}

.login-divTexts {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-labelsHeader {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1vh;
  text-align: center;
}

.login-labelSubtitle {
  font-size: 30px;
  text-align: center;
}

.login-labelsParagraph {
  font-size: 20px;
  text-align: center;
}

.login-company-division {
  border: 1px solid #ff69b4;
  height: 80vh;
  margin-top: 10vh;
}

.login-inputEmail {
  width: 19vw;
  padding: 2%;
  margin-bottom: 5vh;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
}

.login-rightSide {
  width: 49%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.login-divPasswordInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid black; */
}

.login-divPasswordInput input {
  width: 32%;
  padding: 2%;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0px solid;
  font-size: 16px;
}

.login-divIcon {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid black;
  border-left: 0px;
  background-color: #aaaaaa;
  cursor: pointer;
}

.login-company-loginButton {
  width: 19vw;
  background-color: #ff69b4;
  color: white;
  font-size: 18px;
  border: none;
  padding: 2vh 5vw;
  border-radius: 6px;
  cursor: pointer;
  margin: 3vh;
  margin-bottom: 6vh !important;
}

.login-link {
  text-decoration: none;
  color: pink;
  cursor: pointer;
}
